.btn-linkage select.xfd-select-linkage{
    display: inline-block !important;
    visibility: hidden;
    width:220px !important;
    left:0;
}
.btn-linkage .btn-group > .btn, .btn-linkage .form-control {
    border-radius: 2px !important;
    font-size: 12px;
    line-height: 12px;
    padding: 9px 16px;
    height: 32px; 
    outline: none !important;
}
.btn-linkage .btn-group > .btn {
    border: 1px solid #E4E9ED; 
}
.btn-linkage .btn-default:hover, .btn-linkage .btn-default:focus, .btn-linkage .btn-default:active, .btn-linkage .open > .dropdown-toggle.btn-default{
    background-color: #fff;
}